.contenedor {
    height: 100vh;
    background-image: url('../../../assets/RuletaFonto02.png');
    background-size: cover; 
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.imagen1 {
    width: 60%; 
    height: auto;
    margin: 10px;
  }
.imagen2 {
    width: 90%; 
    height: auto;
    margin: 10px;
    cursor: pointer;
  }
.imagen3 {
    width: 80%; 
    height: auto;
    margin: 10px;
  }