<div class="contenedor">
    <!-- Primera Fila -->
    <div class="fila">
      <img src="../../../assets/BoxTitulo.png" alt="Imagen Centrada" class="imagen-centrada">
    </div>
  
    <!-- Segunda Fila -->
    <div class="fila" style="margin-top: 5%;">
      <img [src]="cajaMega" alt="Imagen 1" class="imagen" (click)="abrirMega()">
      <img [src]="cajaExtra" alt="Imagen 2" class="imagen" (click)="abrirExtra()">
      <img [src]="cajaSuper" alt="Imagen 3" class="imagen" (click)="abrirSuper()">
    </div>
  </div>
  